.footer {
    grid-row: footer-s/footer-e;
    grid-column: app-s/app-e;
    place-self: end center;
    background-color: $dark-gray;
    border-radius: 150px  150px 0 0;
    height: 150px;
    width: 45vw;
    
    display: grid;
    grid-template-columns: 0.1fr [footer-column-s] 1fr [footer-column-e] 0.1fr;
    grid-template-rows: 30px [socials-s] 20px [socials-e] 30px [links-s] 0.5fr [links-e logo-s] 0.25fr [logo-e] 30px;
    & > * {
        grid-column: footer-column-s/footer-column-e;
    }
    &__socials {
        grid-row: socials-s/socials-e;
        color: white;
        justify-content: space-evenly;
        display: flex;
        font-size: 3rem;
        & > * {
            align-self: center;
            &:hover {
                @include default-hover();
            }
        }
    }
    &__links {
        border-top: 1px solid $yellow;
        grid-row: links-s/links-e;
        display: flex;
        justify-content: space-around;
        color: $green;
        &__link {
            padding-top: 10px;
            font-size: 14px;
            font-family: $non-title;
            &:hover {
                @include default-hover();
            }
        }
    }
    &__logo {
        grid-row: logo-s/logo-e;
        justify-self: center;
        img {
            width: 50px;
            height: 50px;
        }
    }
}