.home {
    grid-row: content-s/content-e;
    grid-column: app-s/app-e;

    display: grid;
    grid-template-columns: 0.1fr [left-s] 1fr [left-e right-s] 1fr [right-e] 0.1fr;
    grid-template-rows: [s] 1fr [e];
    gap: 0px 20px;
    & > * {
        grid-row: s/e;
    }
    &__left-column {
        grid-column: left-s/left-e;
    }
    &__right-column {
        grid-column: right-s/right-e;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        text-align: center;
        &__top-row {
            font-size: 30px;
            font-family: $title;
            font-weight: 600;
            letter-spacing: 1px;
        }
        &__middle-row {
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 16px;
            font-family: $non-title;
            &__item {
                display: flex;
                justify-content: center;
                gap: 10px;
                align-items: center;
                .fas {
                    font-size: 1.5rem;
                }
                transition: 0.4s all ease;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.02);
                    color: $orange;
                }
            }
            div:nth-child(2) {
                gap: 5px;
            }
        }
        &__bottom-row {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 15px;
            &__item {
                font-size: 16px;
                display: grid;
                grid-template-columns: 0.25fr [icon-s] 20px [icon-e text-s] 0.5fr [text-e];
                justify-items: start;
                gap: 0px 10px;
                .fas {
                    justify-self: end;
                    grid-column: icon-s/icon-e;
                }
            }
            div:first-child {
                grid-template-columns: 1fr;
                grid-column: text-s/text-e;
                font-size: 22px;
                font-family: $title;
                border-bottom: 1px solid black;
                padding-bottom: 5px;
                justify-items: center;
            }
        }
    }

}

@media only screen and (max-width: 750px) {
    .home {
        grid-template-columns: 0.1fr [home-s] 0.8fr [home-e] 0.1fr;
        grid-template-rows: [text-s] 0.9fr [text-e] 20px [image-s] 0.5fr [image-e];
        &__left-column {
            grid-column: home-s/home-e;
            grid-row: image-s/image-e;
        }
        &__right-column {
            grid-column: home-s/home-e;
            grid-row: text-s/text-e;
        }
    }
}