.home {
    display: grid;
    grid-template-rows: [nav-s] 60px [nav-e content-s] 1fr [content-e] 50px [footer-s] 0.25fr [footer-e];
    grid-template-columns: 0.25fr [app-s] 1fr [app-e] 0.25fr;
    &__content {
        grid-row: content-s/content-e;
        grid-column: app-s/app-e;
        display: grid;
        grid-template-columns: [left-column-s] 0.5fr [left-column-e right-column-s] 0.5fr [right-column-e];
        grid-template-rows: [s] 1fr [e];
        gap: 0px 15px;

        &__left-column {
            grid-row: s/e;
            grid-column: left-column-s/left-column-e;
            justify-self: end;
            img {
                border-radius: 25px;
            }
        }
        &__right-column {
            grid-row: s/e;
            grid-column: right-column-s/right-column-e;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            text-align: center;
            .top-row {
                font-size: 30px;
                font-family: $title;
                font-weight: 600;
                letter-spacing: 1.2px;
            }
            .middle-row {
                grid-row: s/e;
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 16px;
                font-family: $non-title;
                &__item {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;
                    .fas {
                        font-size: 1.5rem;
                    }
                    transition: 0.4s all ease;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.02);
                        color: $orange;
                    }
                }
            }
            .bottom-row {
                grid-column: right-column-s/right-column-e;
                grid-row: s/e;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 15px;
                &__item {
                    font-size: 16px;
                    display: grid;
                    grid-template-columns: 0.25fr [icon-s] 20px [icon-e text-s] 0.5fr [text-e];
                    justify-items: start;
                    gap: 0px 10px;
                    .fas {
                        align-self: center;
                        justify-self: end;
                        grid-column: icon-s/icon-e;
                    }
                }
                div:first-child {
                    grid-template-columns: 1fr;
                    font-size: 22px;
                    font-family: $title;
                    border-bottom: 1px solid black;
                    padding-bottom: 5px;
                    justify-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .home {
        grid-template-columns: 0.1fr [home-s] 0.8fr [home-e] 0.1fr;
        grid-template-rows: [text-s] 0.9fr [text-e] 20px [image-s] 0.5fr [image-e];
        &__left-column {
            grid-column: home-s/home-e;
            grid-row: image-s/image-e;
        }
        &__right-column {
            grid-column: home-s/home-e;
            grid-row: text-s/text-e;
        }
    }
}
