@import "./variables.scss";

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    background-color: $yellow;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    display: grid;
    grid-template-rows: 60px [content-s] 0.75fr [content-e] 0.25fr;
    grid-template-columns: [app-s] 1fr [app-e];
    justify-items: center;
}

@import "./home.scss";
@import "./navigation.scss";