@mixin base-layout {
    display: grid;
    grid-template-rows: [nav-s] 100px [nav-e content-s] 1fr [content-e] 50px [footer-s] 0.25fr [footer-e];
    grid-template-columns: 0.25fr [app-s] 1fr [app-e] 0.25fr;
}

@mixin default-hover {
    cursor: pointer;
    color: $orange;
}